/* font-family: "Inter", sans-serif; */

:root {
  --color-primary: #2a3647;
  --color-white: white;
  --color-black: black;
  --color-userstory: #0038ff;
  --color-technical: #1fd7c1;
  --color-input-placeholder: #D1D1D1;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f6f7f8;
}

h1 {
  font-size: 47px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 27px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

h5 {
  font-size: 14px;
  font-weight: 400;
}


.button {
  border-radius: 8px;
  padding: 16px 0;
  font-weight: 700;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.btn-login {
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 180px;
}

.btn-gust-login {
  background-color: var(--color-white);
  color: var(--color-primary);
  width: 180px;
  border: 1px solid var(--color-primary);
}

#sign-up-box {
  position: absolute;
  bottom: 99px;
  display: flex;
  align-items: center;
  gap: 35px;
}

.btn-signup {
  width: 104px;
}

.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 21px;
  margin-top: 32px;
}

.login-logo {
  height: 79px;
  object-fit: cover;
  position: absolute;
  top: 37px;
  left: 37px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#login-container {
  background-color: var(--color-white);
  width: calc(100% - 32px);
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  position: relative;
}

.divider-line {
  border-bottom: 3px solid #29abe2;
  width: 88px;
  margin: 16px 0 32px 0;
}

.hidden-width {
  width: 364px;
}

.login-input {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  color: var(--color-black);
  padding: 12px 21px;
  border: 1px solid var(--color-input-placeholder);
  font-size: 20px;
}

.input-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.input-container img {
  position: absolute;
  right: 21px;
}

::placeholder {
  color: var(--color-input-placeholder);
}

#checkbox-container {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-left: 16px;
  font-weight: 400;
}

#checkbox-container input {
  margin-right: 8px;
}

.user-notices-box {
  position: absolute;
  bottom: 22px;
  margin: 42px 0 22px 0;
  display: flex;
  gap: 32px;
}

.notices-link {
  color: #a8a8a8;
  text-decoration: none;
  font-weight: 400;
}

.d-none {
  display: none !important;
}

.align-center {
  align-self: initial !important;
}

.arrow-left-line {
  position: absolute;
  left: 40px;
  top: 40px;
  cursor: pointer;
}

.width-100 {
  width: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
}

.header-logo {
  height: 39px;
  object-fit: cover;
}


.user-circle {
  border-radius: 999px;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #29ABE2;
  font-size: 14px;
  font-weight: 700;
}

.navigation {
  background-color: var(--color-primary);
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
}

.navbox {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #091931; */
  border-radius: 16px;
  gap: 4px;
  width: 80px;
  text-decoration: none;
}

.navbox-bg-color {
  background-color: #091931;
}


.registration-succes-box {
  width: 326px;
  padding: 25px 0;
  text-align: center;
  border-radius: 20px;
  background-color: var(--color-primary);
  color: var(--color-white);
  position: absolute;
  bottom: 184px;
  transform: translateY(262px);
  transition: 250ms;
}

.show-reg-box {
  transform: translateY(0);
}

.animation-box {
  position: absolute;
  bottom: 20px;
  height: 300px;
  width: calc(100% - 32px);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.hidden-box {
  width: 200px;
  height: 168px;
  position: absolute;
  right: 0;
  top: 60px;
  overflow: hidden;
  display: flex;
  justify-content: end;
}

.user-menu {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-primary);
  padding: 10px;
  border-radius: 20px;
  border-top-right-radius: 0;
  margin-right: 10px;
  transform: translateX(162px);
  transition: 250ms;
}

.show-menu {
  transform: translateX(0);
}

.user-menu a {
  color: #CDCDCD;
  text-decoration: none;
  padding: 13px 12px;
  font-weight: 400;
}


/***** styles for addtask.html ****/

.add-task-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  max-height: calc(100vh - 240px)
}

.add-task-container h1 {
  margin-top: 48px;
  margin-bottom: 40px;
  padding-left: 16px
}

.add-task-container input,
textarea,
select {
  border: black solid 1px;
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
}

.add-task-container input:focus,
textarea:focus,
select:focus {
  border: solid 1px #29ABE2;
  outline: none;
}

.add-task-container input,
select {
  height: 40px;
}

.add-task-container label,
.prio-container span {
  display: inline-block;
  margin-bottom: 8px;
}

.required {
  color: #FF8190;
  font-size: 12px;
}

.add-task-footnote-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 80px;
  background-color: #f6f7f8;
  padding: 10px;
}

.task-input-container {
  margin: 0 16px;
  overflow: scroll;
}

.task-input-container .title-container {
  height: 83px;
  margin-bottom: 8px;
}

.task-input-container .description-container {
  height: 131px;
  margin-bottom: 8px;
}

.task-input-container .description-container textarea {
  height: 88px;
}

.task-input-container .prio-container {
  height: 88px;
  margin-bottom: 16px;
}

.task-input-container .prio-container #prio {
  height: 88px;
  display: flex;
  gap: 8px;
}

.task-input-container .prio-container #prio button {
  height: 41px;
  flex: 1;
  border-radius: 10px;
  background-color: white;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}




#highPrioButtonFont,
#mediumPrioButtonFont,
#lowPrioButtonFont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
}

.font-weight-clicked {
  font-weight: 700 !important;
}

.prioHigh {
  background-color: rgba(255, 61, 0, 1) !important;
}

.prioMedium {
  background-color: rgba(255, 168, 0, 1) !important;
}

.prioLow {
  background-color: rgba(122, 226, 41, 1) !important;
}

.colored-white {
  filter: brightness(0) invert(1);
}

.task-input-container .due-date-container {
  height: 83px;
  margin-bottom: 16px;
}

.task-input-container .category-container {
  height: 75px;
  margin-bottom: 16px;
}

.task-input-container .assigned-to-container {
  min-height: 75px;
  margin-bottom: 16px;
}

.task-input-container .subtasks-container {
  height: 75px;
}

.add-task-footnote-container button {
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 183px;
  height: 56px;
  padding: 16px;
  font-size: 21px;
  display: flex;
  gap: 4px;
}

.add-task-footnote-container button img {
  height: 24px;
  width: 24px;
}

sup {
  color: #FF8190;
}

.blue-border {
  border: 1px solid #29ABE2 !important;
}

.red-border {
  border: 1px solid #FF8190 !important;
}

#category {
  background-color: white;
}

#assigned-to-btn {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

#assigned-to-btn #buttontext {
  font-size: 16px;
  display: flex;
  align-items: center;
}

#contacts-to-assign-container {
  background-color: white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

#contacts-to-assign-list {
  list-style-type: none;
  padding-left: 0;

}

#contacts-to-assign-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  margin-bottom: 24px;
}

.nameFrame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  margin-left: 16px;
}

.nameFrame img {
  margin-right: 16px;
}

.checked {
  background-color: var(--color-primary);
  color: white;
  border-radius: 10px;
}

#buttontext {
  display: flex;
  gap: 10px;

}

.contact-circle {
  background-color: darkblue;
  height: 42px;
  margin-right: 16px;
  width: 42px;
  border-radius: 100%;
  font-weight: bold;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-circles-container {
  display: flex;

}

.assigned-contacts-button {
  background-color: var(--color-primary);
  color: white;
  min-width: 100px;
  border-radius: 10px;
  padding: 2px;
  border: 1px black solid;
}

/***** end styles for addtask.html ****/


/***** styles for contacts.html ****/

#contactsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  /* Vertikales scrollen im container */
  margin: 20px 0;
  padding-top: 30px;
}

.underline {
  height: 1px;
  background-color: #D1D1D1;
  margin: 16px 0 16px 0;
  width: 90%;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  margin-bottom: 30px;
}

.contact:hover {
  cursor: pointer;
}

.contact-headline-letter {
  padding-left: 12px !important;
}

.name {
  font-size: 24px !important;
  font-weight: 400 !important;
}

.email-contact {
  font-size: 16px !important;
  color: #007CEE;
  margin-top: 5px;
}

.email-contact-opened {
  color: black;
  font-weight: bold !important;
  font-size: 16px !important;
  margin-top: 21px;
  margin-bottom: 15px;
}

.contact-header {
  height: 42px;
  width: 42px;
  border-radius: 100%;
  font-weight: bold;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.addContactImg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 758px;
  left: 330px;
  right: 20px;
  height: 56px;
  width: 56px;
  border-radius: 100%;
  background-color: var(--color-primary);
  z-index: 1000;
}

.addContactImg:hover {
  cursor: pointer;
}

.addContactImg img {
  height: 32px;
  width: 32px;
}

.editContactImg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 758px;
  left: 330px;
  right: 20px;
  height: 56px;
  width: 56px;
  border-radius: 100%;
  background-color: var(--color-primary);
  z-index: 1000;
}

.name-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.contact-opened {
  height: 80px !important;
  width: 80px !important;
  border: 3px solid white;
}

.slogan-contact {
  margin-top: 8px;
  font-size: 20px;
}

.contact-underline {
  height: 3px;
  width: 90px;
  background-color: #29ABE2;
  margin-top: 8px;
  margin-bottom: 48px;
}

.back-to-contacts-img {
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}

#contact {
  height: 100vh;
  overflow: hidden;
  z-index: 1000;
  padding: 128px 0 0 16px;
  width: 100%;
}

.contact-container {
  width: 100%;
}

.edit-contacts-options {
  width: 115px;
  height: 100px;
  background-color: white;
  gap: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px 20px 0px 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  right: -115px;
  top: 740px;
  transition: right 0.5s;
  z-index: 9999;
}

.edit-contacts-options-active {
  right: 10px !important;
}

.edit-image-contact {
  margin-right: 15px;
}

.edit-contacts-options div {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.edit-img-contact {
  margin-right: 10px;
}

/***** end styles for contacts.html ****/