.overlay-task {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 48px 16px;
  margin: 80px 0;
  background-color: #f6f7f8;
}

button {
  cursor: pointer;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbar {
  position: relative;
  display: flex;
  align-items: center;
}

input {
  font-size: 20px;
  width: 100%;
  height: 48px;
  margin-bottom: 2px;
  padding: 8px 16px;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
}

.search-icon {
  position: absolute;
  right: 0;
  padding: 0 23.11px;
  border: none;
  border-left: 1px solid #d1d1d1;
  background-color: transparent;
}

.board-titel {
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 16px 0;
}

.board-titel-head {
  margin: 0 0 40px 0;
}

.add-task-btn {
  padding: 0;
  border: none;
  border-radius: 10px;
}

.btn-head {
  width: 40px;
  height: 40px;
  background-color: var(--color-primary);
}

.task-cards-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  white-space: nowrap;
}

.no-tasks {
  color: #a8a8a8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: #e7e7e7;
  border: 1px dashed #a8a8a8;
  border-radius: 10px;
}

.task-card {
  cursor: grab;
  display: inline-flex;
  flex-direction: column;
  margin-right: 16px;
  margin-bottom: 16px;
  width: 252px;
  padding: 16px;
  background-color: var(--color-white);
  border-radius: 24px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 8%);
  white-space: wrap;

  & .card-category {
    color: var(--color-white);
    display: inline-block;
    padding: 4px 16px;
    background-color: var(--color-userstory);
    border-radius: 8px;
  }

  & .card-titel {
    font-weight: 700;
    margin: 24px 0 8px 0;
  }

  & .card-description {
    color: #a8a8a8;
  }

  & .card-progress {
    display: flex;
    align-items: center;
    gap: 11px;
    margin: 24px 0px;
  }

  & .card-progressbar-container {
    width: 100%;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 16px;
    overflow: hidden;
  }

  & .card-progressbar {
    width: 50%;
    height: 100%;
    background-color: #4589ff;
    border-radius: 16px;
  }

  & .card-subtasks {
    font-size: 12px;
    flex-shrink: 0;
  }

  & .card-footer {
    display: flex;
    justify-content: space-between;
  }

  & .card-assigned {
    display: flex;
  }

  & .card-contacts {
    font-size: 12px;
    color: var(--color-white);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: -8px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
  }

  & .card-priority {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.task-card-open {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 396px;
  padding: 32px 24px;
  border-radius: 30px;
  background-color: var(--color-white);
  animation: slideInFromRight 0.2s ease-out;

  & .txt-gray {
    color: #42526e;
  }

  & .card-category-wrapper {
    display: flex;
    justify-content: space-between;
  }

  & .card-category {
    color: var(--color-white);
    display: inline-block;
    padding: 4px 16px;
    background-color: var(--color-userstory);
    border-radius: 8px;
  }

  & .card-titel {
    font-size: 36px;
    font-weight: 700;
  }

  & .card-due-date > span {
    margin-right: 25px;
  }

  & .card-priority {
    display: flex;
    align-items: center;
    gap: 8px;
    & span {
      margin-right: 35px;
    }
  }

  & .card-contacts-wrapper {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 16px;
    gap: 12px;

    & .card-contacts {
      font-size: 12px;
      color: var(--color-white);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;
      border: 1px solid var(--color-white);
      border-radius: 50%;
    }
  }

  .card-close {
    cursor: pointer;
    width: 13.15px;
    height: 13.15px;
  }

  & .card-edit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    gap: 8px;

    & div {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    & .card-line {
      height: 24px;
      border-left: solid #d1d1d1 1px;
    }
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.add-task-btn-desktop {
  display: none;
}

@media screen and (min-width: 1440px) {
  .board {
    width: 1440px;
    padding: 75.5px 64px 0 296px;
  }

  .header-wrapper {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }

  .board-titel-head {
    margin: 0;
    margin-right: 376px;
  }

  .board-titel {
    display: flex;
    align-items: center;
    height: 72px;
  }

  .add-task-btn {
    display: none;
  }

  .columns-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .task-cards-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: unset;
    -webkit-overflow-scrolling: unset;
    overflow-y: unset;
    white-space: nowrap;
  }

  .column {
    width: 252px;
  }

  h3 {
    font-size: 20px;
    font-size: 20px;
    color: #42526e;
  }

  .btn-head {
    width: 160px;
    height: 48px;
    background-color: var(--color-primary);
  }

  .add-task-btn-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    font-size: 21px;
    font-weight: 700;
    padding: 12px 16px !important;
    color: var(--color-white);
    padding: 0;
    border: none;
    border-radius: 10px;

    & img {
      width: 18.67px;
      height: 18.67px;
    }
  }
}
