@media(max-width:429px) {
    .addContactCard {
      width: 310px !important;
      height: 630px;
    }
  
    .addContactCard h1 {
      font-size: 32px;
    }
    .addContactCard input {
      width: 280px;
      height: 30px;
    }
  
    .addContactUpperCard {
      height: 275px;
    }
  
    .createContactFormContainer {
      margin-top: 76px;
  
    }
    .vertical-center {
      margin-top: 50px;
    }
    .display-flex-margin {
      margin-top: 0px;
    }
  }
  
  @media (max-width: 1440px) {
    #addContactDesktop {
      display: none !important;
    }
  
    #logoDesktopContact,
    .cancel-add-contact,
    .close-card-desktop,
    .slogan-container-desktop
     {
      display: none;
    }
  
    #contactsList {
      width: 100% !important;
    }
  
    .center {
      display: block !important;
    }
  }
  
  @media (min-width: 1440px) {
    #createContactBtn {
      margin-left: 0;
      margin-right: 0;
    }
  
    #addContactDesktop {
      display: flex !important;
    }
    .slogan-container-desktop {
      display: flex !important;
      padding: 210px 0 0 50px;
      justify-content: center;
      height: 100px;
    }
    .slogan-container-desktop div {
      display: flex;
      gap: 20px;
      align-items: center;
    }
  
    .slogan-show-contact {
      display: flex !important;
      align-items: center;
      gap: 20px;
      padding-bottom: 40px;
    }
  
    .contact {
      width: 350px !important;
      height: 80px !important;
      margin-bottom: 8px !important;
    }
  
    .contact:hover {
      color: black;
      background-color: #eee;
    }
    .contact-line-desktop {
      height: 60px;
      width: 3px;
      background-color: #29abe2;
      display: block !important;
    }
  
    .contact-underline {
      display: none !important;
    }
  
    #sidebar {
      width: 230px;
      background-color: #2a3647;
      height: 100%;
      display: flex !important;
    }
    #footer,
    #editContactImg,
    #addContactImg {
      display: none !important;
    }
    .center {
      justify-content: flex-start;
    }
    #contactsList {
      padding: 0 0 0 10px;
      max-height: 96% !important;
      display: flex !important;
      overflow-y: auto !important;
      width: 450px;
      height: 75vh;
      margin-left: 242px;
      background-color: white;
      max-width: 450px;
    }
  
    .desktop-add-contact-container {
      width: 100% !important;
    }
    .contacts-container, #header, .container-desktop, #contactUnderline {
      display: flex !important;
    }
    
    #contact {
      z-index: auto;
    }
   
    .addContactCard {
      height: 600px;
      width: 1200px;
      display: flex;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
    }
  
    .addContactCard input {
      width: 422px;
      margin-top: 22px;
    }
    .addContactUpperCard {
      height: 100%;
      width: 450px;
      border-bottom-left-radius: 30px;
      border-top-right-radius: 0;
    }
    .personImgaAddContact {
      margin-left: 550px;
      margin-top: -315px !important;
    }
    .createContactFormContainer {
      margin-left: 290px;
    }
  
    .vertical-center {
      height: 100% !important;
      margin-top: -40px;
    }
  
    .closeAddContact {
      display: none;
    }
  
    .edit-vertical {
      margin-top: 10px;
    }
    .edit-person-add {
      margin-top: -360px !important;
    }
  
    .close-card-desktop {
      display: flex;
      justify-content: end;
      width: 100%;
      margin-bottom: 60px;
      padding-bottom: 50px;
    }
    .close-card-desktop img {
      width: 13.5px;
      height: 13.5px;
      cursor: pointer;
    }
  
    .createContactFormContainer {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-top: 0;
    }
  
    .btn-container-edit {
      flex-direction: row-reverse;
      justify-content: start !important;
    }
  
    .addContactCard {
      transform: translateX(100%);
    }
  
    .createContactAnimation {
      transform: translateX(100%);
    }
  }
