<navigation class="navigation" id="navigation">
    <a href="summary.html" class="navbox navbox-bg-color" id="summary-link" onclick="navigationHighlight('summary-link')">
        <img src="./assets/img/summary.png">
        <h5>Summary</h5>
    </a>
    <a href="board.html" class="navbox" id="board-link" onclick="navigationHighlight('board-link')">
        <img src="./assets/img/board.png">
        <h5>Board</h5>
    </a>
    <a href="addtask.html" class="navbox" id="addtask-link" onclick="navigationHighlight('addtask-link')">
        <img src="./assets/img/edit.png">
        <h5>Add Tasks</h5>
    </a>
    <a href="contact.html" class="navbox" id="contact-link" onclick="navigationHighlight('contact-link')">
        <img src="./assets/img/contacts.png">
        <h5>Contacts</h5>
    </a>
</navigation>